---
#------------------------------------------------------------------------------
# Lawrence McDaniel - https://lawrencemcdaniel.com
# Run unit tests for Python code in the repository.
#
#------------------------------------------------------------------------------
name: Test

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**.py"
  push:
    branches:
      - main
      - next
    paths:
      - "**.py"

env:
  python-version: "3.13"

jobs:
  python-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        id: checkout
        uses: actions/checkout@v4

      - name: Run Python tests
        uses: ./.github/actions/tests/python
        with:
          python-version: "${{ env.python-version}}"
          kaggle-json: "${{ secrets.KAGGLE_JSON }}"
